<table class="episode_list" border=1>
  <th>Episode Number
  </th>
  <th>Episode Name
  </th>
  <% episode_list.each do |episode| %>
    <tr>
      <td class="number"><%= episode.number %></td>
      <td class="title"><%= episode.title %></td>
    </tr>
    <tr>
      <td class="description" colspan="2"><%= episode.description %></td>
    </tr>
  <% end %>
</table>
