<main>
  <h2>Suggested Shows:</h2>
  <hr />
  <div class="link_block">
    <a href="">Steven Universe</a><a href="">Steven Universe</a><a href="">Steven Universe</a><a href="">Steven Universe</a><a href="">Steven Universe</a><a href="">Steven Universe</a><a href="">Steven Universe</a><a href="">Steven Universe</a><a href="">Steven Universe</a><a href="">Steven Universe</a><a href="">Steven Universe</a><a href="">Steven Universe</a>
  </div>
</main>
